{% extends 'HCHCBundle::layout.html.twig' %}


{% block content_header %}
  <section class="content-header">
    <h1>
      Historias Clinicas
      <small>Lista de las últimas Historias Médicas</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Historias Medicas</a></li>
      <li class="active">Aqui</li>
    </ol>
  </section>

{% endblock %}



{% block content %}
<style>
    .small-btn{
        width: 40px;
        height: 40px;
        padding:0px;
    }
</style>
<div class="box">
        
    <div class="box-header">
      <h3 class="box-title">Historias Clinicas</h3>
    </div>
    <div class="box-body">
       <table class="table table-bordered" style="vertical-align:center">
        <tbody>
         <tr>
                    <th>Cédula del paciente</th>
                    <th>Nombre del paciente</th>
                    <th>Apellido del Paciente</th>
                    <th>Fecha de creación</th>
                    <th>Acciones</th>
        </tr>
        {% for entity in entities %}
            <tr>
            <td>{{ entity.idpaciente.cedula }}</td>
            <td>{{ entity.idpaciente.nombre }}</td>
            <td>{{ entity.idpaciente.apellido }}</td>

                <td>{% if entity.fechacreacion %}{{ entity.fechacreacion|date('Y-m-d') }}{% endif %}</td>
                <td>

                   <a href="{{ path('hci_show', { 'id': entity.idhci }) }}" class="btn btn-app small-btn"><i class="fa fa-eye"></i> Ver</a>
                    <a href="{{ path('hci_edit', { 'id': entity.idhci }) }}" class="btn btn-app small-btn" ><i class="fa fa-edit"></i>Editar</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

            <a href="{{ path('hci_new') }}" class="btn btn-block btn-primary btn-lg">
            Nueva Historia Clinica
        </a>
   </div>
</div>
    {% endblock %}
