
{# {% extends 'HCHCBundle::base2.html.twig' %} #}

{# {% block stylesheets %}
{{ parent() }}
        {% stylesheets
        'bundles/hchc/Admin/plugins/daterangepicker/daterangepicker-bs3.css'
        'bundles/hchc/Admin/plugins/timepicker/bootstrap-timepicker.min.css'
        
        output='css/*.css' filter='cssrewrite' %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %} #}
{# {% block content_header %}
  <section class="content-header">
    <h1>
      Modificar de Emergencia 
      <small>Modificar Teléfono de Emergencia seleccionado</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
      <li class="active">Here</li>
    </ol>
  </section>

{% endblock %} #}


{# 
{% block content %}
<div class="col-md-6"> #}
{% block sinestilo %}
  
       {{ form_start(edit_form) }}
            {{ form_row(edit_form._token) }}
       {{ form_row( edit_form.nombrecontacto,{'attr':{'class':'form-control'}} ) }}
       {{ form_row( edit_form.apellidocontacto,{'attr':{'class':'form-control'}} ) }}
       
         <div class="form-group">
          {{form_label(edit_form.numero)}}
          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-phone"></i>
            </div>
            {{ form_widget( edit_form.numero,{'attr':{'class':'form-control inputmask','data-inputmask':"'mask':'(9999)-9999999' ",'data-mask':''}} ) }}
          </div>
        </div>
        {{ form_row( edit_form.relacion ,{'attr':{'class':'form-control'}}) }}

      <center>
          <div class="btn-group" style="margin-top:5px">
            <div style="display:none">
              {{form_end(edit_form)}}
            </div>
              
              <button type="submit" class="btn btn-success">Actualizar</button>
          </div>
        </center>
  </div> 

{% endblock %}
{# 
{% endblock %} #}

{# {% block javascripts -%}
  {{ parent() }}


    {% javascripts
    'bundles/hchc/Admin/plugins/input-mask/jquery.inputmask.js'
    'bundles/hchc/Admin/plugins/input-mask/jquery.inputmask.date.extensions.js'
    'bundles/hchc/Admin/plugins/input-mask/jquery.inputmask.extensions.js'
    
  
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>

     <script type="text/javascript">
       $(function () {
         $("[data-mask]").inputmask();

      });
    </script>
    


    {% endjavascripts %}

{% endblock %} #}