{# {% extends 'HCHCBundle::base2.html.twig' %}
 #}

{# {% block content_header %}
  <section class="content-header">
    <h1>
     Modificar consumo de paciente 
      <small>Modificar consumo seleccionado</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Consumos</a></li>
      <li class="active">aqui</li>
    </ol>
  </section>

{% endblock %} #}


{# {% block content -%} #}
{% block sinestilo -%}
  {{ form_start(edit_form) }}
  {{ form_row(edit_form._token) }}
 {{ form_row( edit_form.idtipoconsumo, {"attr":{"class":"hidden"}}) }}
  <label class="nombre_atributo" ></label>
  {{ form_row( edit_form.idtipoestado,{'attr':{'class':'form-control'}} ) }}


    <center>
      <div class="btn-group" style="margin-top:5px">
          <button type="submit" class="btn btn-success">Actualizar</button>
          {# <a href="{{app.request.headers.get('referer')}}" class="btn btn-default">
             Regresar
          </a> #}
      </div>
    </center>

   {# {{ form(delete_form) }} #}

{% endblock %}
{# {% endblock %}
 #}

{% block javascripts %}
  {# {{ parent() }} #}

  <script>

 
      var valor= $("#hc_hcbundle_phciconsumo_idtipoconsumo").find(":selected").text();
      $(".nombre_atributo").html(valor);
   
      
  </script>
{% endblock %}