

{% extends 'HCHCBundle::layout.html.twig' %}


{% block content_header %}
  <section class="content-header">
    <h1>
      Gestionar Citas
      <small>Últimas 10 citas</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Todas las citas</a></li>
      <li class="active">Aqui</li>
    </ol>
  </section>

{% endblock %}

{% block content %}
<style >
    .small-btn{
        width:40px;
        height:40px;
        padding:0px;
    }
    .barraOpciones{
      float:left;
      margin-bottom: 10px;
      width: 100%;
      display: block;
    }
</style>
            <div class="box">
     
                     <div class="box-header">
                      <h3 class="box-title">Citas</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body"> 
<table id="Citas" class="table table-striped table-bordered" cellspacing="0" width="100%">
                         <thead>
                              <tr>
                               <th>Nombre del paciente</th>
                               <th>Cédula del paciente</th>
                                <th>Fecha Programada</th>
                                <th>Hora Programada</th>
                                <!-- <th>Fecha Creacion</th> -->
                                <th style="width: 60px">Motivo</th>
                                <th style="width:28%; text-align:center">Acciones</th>
                              </tr>
                              </thead>
                       <tfoot>
                              <tr>
                               <th>Nombre del paciente</th>
                               <th>Cédula del paciente</th>
                                <th>Fecha Programada</th>
                                <th>Hora Programada</th>
                                <!-- <th>Fecha Creacion</th> -->
                                <th style="width: 60px">Motivo</th>
                                <th style="width:28%; text-align:center">Acciones</th>
                              </tr>
                             
                        </tfoot>
                          <tbody> 
                            {% for entity in entities %}
                                <tr>
                                   <td>{{entity.idpaciente.nombre}} {{entity.idpaciente.apellido}} </td>
                                    <td>{{entity.idpaciente.cedula}}</td>
                                    <td>{% if entity.fechaprogramada %}{{ entity.fechaprogramada|date('Y-m-d') }}{% endif %}</td>
                                    <td>{{ entity.horaprogramada }}</td>
                                    <!-- <td>{% if entity.fechacreacion %}{{ entity.fechacreacion|date('Y-m-d H:i:s') }}{% endif %}</td> -->
                                    <td>{{ entity.motivo }}</td>
                                    <td>
                                    
                                            <a href="{{ path('gestionarcitas_show', { 'id': entity.idcita }) }}"class="btn btn-app small-btn"><i class="fa fa-eye"></i>Ver</a>
                                        
                                            <a href="{{ path('gestionarcitas_edit', { 'id': entity.idcita }) }}" class="btn btn-app small-btn"><i class="fa fa-edit"></i>Editar</a>

                                            <a href="{{ path('gestionarvisitas_new', { 'idcita': entity.idcita }) }}"  class="btn btn-app small-btn gVisitaBoton"><i class="fa fa-eye"></i>Registar Visita</a>

                                       
                                    </td>
                                </tr>
                            {% endfor %}
                      </tbody>
                    </table>
                    </div><!-- /.box-body -->
                    <div class="box-footer clearfix">
                      <ul class="pagination pagination-sm no-margin pull-right">
                        <li><a href="#">«</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">»</a></li>
                      </ul>
                    </div>
             </div>
      

     <div class="barraOpciones">
                      <a href="{{ path('gestionarcitas_new') }}"  style="float:right" class="btn btn-success  "><i class="fa fa-plus"></i> Nueva cita</a>
              </div>
          
{% endblock %}
{% block javascripts -%}
  {{ parent() }}


  <script>
 

    $(document).ready(function(){

         $("#Citas").dataTable();

        
     });
  </script>
{% endblock %}