{% extends 'HCHCBundle::layout.html.twig' %}


{% block stylesheets %}
{{ parent() }}
        {% stylesheets
        'bundles/hchc/Admin/plugins/daterangepicker/daterangepicker-bs3.css'
        'bundles/hchc/Admin/plugins/timepicker/bootstrap-timepicker.min.css'
        
        output='css/*.css' filter='cssrewrite' %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}


{% block content_header %}
  <section class="content-header">
    <h1>
      Gestionar Citas
      <small>Nueva cita</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Todas las  citas</a></li>
      <li class="active">Nueva cita</li>
    </ol>
  </section>

{% endblock %}

{% block content %}
<div class="col-md-6">
    {{form_start(form)}}
    {{ form_row(form._token) }}
              <div class="box">
                    <div class="box-header">
                      <h3 class="box-title">Nueva  cita</h3>
                    </div><!-- /.box-header -->
                        <div class="box-body no-padding">
                          <table class="table table-condensed">
                            <tbody>
                           <!--  <tr>
                              <th>{{ form_row(form.idpaciente,{'attr': {'class': 'form-control'}}) }}</th>
                            </tr> -->
                            <tr >
                              <th class="cedularow">{{ form_row(form.cedula,{'attr': {'class': 'form-control inputcedula', 'onchange':'validarCedulaPaciente(this.value)'}}) }}</th>
                            </tr>
                             <tr>
                              <th>
                                 <div class="form-group">
                                   {{form_label(form.fechaprogramada)}}
                                    <div class="input-group">

                                        <div class="input-group-addon">
                                          <i class="fa fa-calendar"></i>
                                        </div>
                                        {{ form_widget(form.fechaprogramada,{'attr': {'class': 'form-control','data-inputmask':"'alias': 'yyyy-mm-dd' ",'data-mask':''}}) }}
                                    </div><!-- /.input group -->
                                  </div>
                              </th>
                             
                            </tr>
                             <tr>
                             
                             <th>
                               <div class="bootstrap-timepicker">
                                  <div class="form-group">
                                   {{form_label(form.horaprogramada)}}
                                    <div class="input-group">
                                      <div class="input-group-addon">
                                        <i class="fa fa-clock-o"></i>
                                      </div>
                                    {{ form_widget(form.horaprogramada ,{'attr': {'class': 'form-control timepicker'}}) }}
                                      
                                    
                                    </div><!-- /.input group -->
                                  </div>
                                </div>
                              </th>
                              
                             
                            </tr>
                            <tr>
                               
                               <th>{{ form_row(form.motivo,{'attr': {'class': 'form-control'}}) }}</th>
                            </tr>
                            
                          </tbody>
                          </table>
                        </div><!-- /.box-body -->
                </div>
     

       


    <center>
        <div class="btn-group opciones">
         
            <a href="{{ path('gestionarcitas') }}" class="btn btn-default">
                Regresar
            </a>
        </div>
    </center>  

    <!-- <button class="btn btn-success" type="button" onclick="validarCedulaPaciente()">Ajax</button> -->

</div>
{% endblock %}
{% block javascripts %}
{{parent()}}
    {% javascripts
    'bundles/hchc/Admin/plugins/input-mask/jquery.inputmask.js'
    'bundles/hchc/Admin/plugins/input-mask/jquery.inputmask.date.extensions.js'
    'bundles/hchc/Admin/plugins/input-mask/jquery.inputmask.extensions.js'
    'bundles/hchc/Admin/plugins/timepicker/bootstrap-timepicker.min.js'


  
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>

     <script type="text/javascript">
      $(function () {

         $("#datemask").inputmask("yyyy-mm-dd", {"placeholder": "yyyy-mm-dd"});
         $("[data-mask]").inputmask();
         $(".timepicker").timepicker({
            showInputs: false
          });
      });


      function pintarValidacion(clase, mensaje){
               var cedularow= $('.cedularow > div');

               if(clase=='success'){
                 cedularow.removeClass('form-group has-error');
               }else{
                 cedularow.removeClass('form-group has-sucess');

               }
               cedularow.addClass('form-group has-'+clase)
               cedularow.find('label').html(mensaje);
               cedularow.find('label').addClass('control-label');
      }
      function validarCedulaPaciente(cedula){
        var rutaValidar="{{ path('validarcedula', {cedula:'texto'} ) }}";
        rutaValidar=rutaValidar.replace("texto", cedula);
        $.ajax({
            url:rutaValidar,
            method:"GET",
            success:function(resultado){
                console.log(resultado);
                if(resultado.respuesta=="Falso"){
                  var botonRegistarU='<a href="{{path("paciente_new")}}" class="btn btn-success btn-xs">Registar</a>';
                    pintarValidacion('error','No existe el paciente '+botonRegistarU)
                    $('.opciones > .enviar').remove();
          
                }else{
                    pintarValidacion('success','Cedula')
                    if($('.enviar').length==0){
                        $('.opciones').prepend('<button type="submit"  class="btn btn-default enviar" >Enviar</button>');
                    }
                }
            }
          });
        
      }
    </script>



    {% endjavascripts %}
{% endblock %}

 