{% extends 'HCHCBundle::layout.html.twig' %}


{% block content_header %}
  <section class="content-header">
    <h1>
     Modificar condición de paciente 
      <small>Modificar condición seleccionada</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> condiciones</a></li>
      <li class="active">aqui</li>
    </ol>
  </section>

{% endblock %}


{% block content -%}

  {{ form_start(edit_form) }}
  {{ form_row(edit_form._token) }}
  {{ form_row( edit_form.descripcion,{'attr':{'class':'form-control'}} ) }}


    <div class="btn-group">
      {{ form_end(edit_form) }}
          <a href="{{app.request.headers.get('referer')}}"class="btn btn-default">
           Regresar
        </a>
    </div>

   {{ form(delete_form) }}
{% endblock %}
