{% extends 'HCHCBundle::layout.html.twig' %}


{% block content_header %}
  <section class="content-header">
    <h1>
      Editar usuario 
      <small>Optional description</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
      <li class="active">Here</li>
    </ol>
  </section>

{% endblock %}



{% block content %}
    

    
<div class="col-md-6">
    {{ form_start(edit_form) }}
    {{ form_row(edit_form._token) }}
    {{ form_row(edit_form.usuario,{'attr': {'class': 'form-control'}}) }}
    {{ form_row(edit_form.clave,{'attr': {  'class': 'form-control'}}) }}
    {{ form_row(edit_form.nombre,{'attr': {'class': 'form-control'}}) }}

	<div class="form-group">
		{{form_label(edit_form.fechanac)}}
		<div class="input-group">

		    <div class="input-group-addon">
		      <i class="fa fa-calendar"></i>
		    </div>
		    {{ form_widget(edit_form.fechanac,{'attr': {'class': 'form-control','data-inputmask':"'alias': 'yyyy-mm-dd' ",'data-mask':''}}) }}
		</div>
	</div>

	{{ form_row(edit_form.numss,{'attr': {'class': 'form-control'}}) }}
    {{ form_row(edit_form.direccion,{'attr': {'class': 'form-control'}}) }}
    
	<div class="form-group">
		{{form_label(edit_form.telefono)}}
		<div class="input-group">
			  <div class="input-group-addon">
			    <i class="fa fa-phone"></i>
			  </div>
			  {{ form_widget(edit_form.telefono,{
			  		'attr': 
			  			{'class': 'form-control', 'data-inputmask': "'mask': '(9999)-9999999'", 'data-mask':''}
			  	}) 
			  }}

		 	 
		</div>
	</div>
	

	<div class="form-group">
		{{form_label(edit_form.fechainicio)}}
		<div class="input-group">

		    <div class="input-group-addon">
		      <i class="fa fa-calendar"></i>
		    </div>
		    {{ form_widget(edit_form.fechainicio,{'attr': {'class': 'form-control','data-inputmask':"'alias': 'yyyy-mm-dd' ",'data-mask':''}}) }}
		</div><!-- /.input group -->
	</div>


    {{ form_row(edit_form.idrol,{'attr': {'class': 'form-control'}}) }}

	<button type="submit" class="btn btn-success btn-lg center-block">Editar</button>
</div>
<!-- <ul class="record_actions">
	<li>
		<a href="{{ path('gestionarusuarios') }}">
		    Back to the list
		</a>
	</li>
<li>{{ form(delete_form) }}</li>
</ul> -->
{% endblock %}
{% block javascripts %}
{{parent()}}
    {% javascripts
	    'bundles/hchc/Admin/plugins/input-mask/jquery.inputmask.js'
	    'bundles/hchc/Admin/plugins/input-mask/jquery.inputmask.date.extensions.js'
	    'bundles/hchc/Admin/plugins/input-mask/jquery.inputmask.extensions.js'
	    'bundles/hchc/Admin/plugins/timepicker/bootstrap-timepicker.min.js'
  
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>

     <script type="text/javascript">
      $(function () {

         $("#datemask").inputmask("yyyy-mm-dd", {"placeholder": "yyyy-mm-dd"});
         $("[data-mask]").inputmask();
         $(".timepicker").timepicker({
            showInputs: false
          });
      });
    </script>
    


    {% endjavascripts %}
{% endblock %}