{% extends 'HCHCBundle::layout.html.twig' %}


{% block content_header %}
  <section class="content-header">
    <h1>
      Nuevo Usuario
      <small>Optional description</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
      <li class="active">Here</li>
    </ol>
  </section>

{% endblock %}



{% block content %}

<div class="col-md-6">
	
    {{ form_start(form) }}
    {{ form_row(form._token) }}
    <div class="usuariorow">
    {{ form_row(form.usuario,{'attr': {'class': 'form-control ', 'onchange':'validarNombreUsuario(this.value)'}}) }}
      
    </div>
    {{ form_row(form.clave,{'attr': {  'class': 'form-control'}}) }}
    {{ form_row(form.nombre,{'attr': {'class': 'form-control'}}) }}

	<div class="form-group">
		{{form_label(form.fechanac)}}
		<div class="input-group">

		    <div class="input-group-addon">
		      <i class="fa fa-calendar"></i>
		    </div>
		    {{ form_widget(form.fechanac,{'attr': {'class': 'form-control','data-inputmask':"'alias': 'yyyy-mm-dd' ",'data-mask':''}}) }}
		</div><!-- /.input group -->
	</div>
	   


    {{ form_row(form.numss,{'attr': {'class': 'form-control'}}) }}
    {{ form_row(form.direccion,{'attr': {'class': 'form-control'}}) }}
    
	<div class="form-group">
		{{form_label(form.telefono)}}
		<div class="input-group">
			  <div class="input-group-addon">
			    <i class="fa fa-phone"></i>
			  </div>
			  {{ form_widget(form.telefono,{
			  		'attr': 
			  			{'class': 'form-control', 'data-inputmask': "'mask': '(9999)-9999999'", 'data-mask':''}
			  	}) 
			  }}

		 	 
		</div>
	</div>
	

	<div class="form-group">
		{{form_label(form.fechainicio)}}
		<div class="input-group">

		    <div class="input-group-addon">
		      <i class="fa fa-calendar"></i>
		    </div>
		    {{ form_widget(form.fechainicio,{'attr': {'class': 'form-control','data-inputmask':"'alias': 'yyyy-mm-dd' ",'data-mask':''}}) }}
		</div><!-- /.input group -->
	</div>


    {{ form_row(form.idrol,{'attr': {'class': 'form-control'}}) }}
<div class="opciones"></div>
</div>
<!-- <ul class="record_actions">
    <li>
        <a href="{{ path('gestionarusuarios') }}">
            Back to the list
        </a>
    </li>
</ul> -->
{% endblock %}
{% block javascripts %}
{{parent()}}
    {% javascripts
	    'bundles/hchc/Admin/plugins/input-mask/jquery.inputmask.js'
	    'bundles/hchc/Admin/plugins/input-mask/jquery.inputmask.date.extensions.js'
	    'bundles/hchc/Admin/plugins/input-mask/jquery.inputmask.extensions.js'
	    'bundles/hchc/Admin/plugins/timepicker/bootstrap-timepicker.min.js'
  
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>

     <script type="text/javascript">
      $(function () {

         $("#datemask").inputmask("yyyy-mm-dd", {"placeholder": "yyyy-mm-dd"});
         $("[data-mask]").inputmask();
         $(".timepicker").timepicker({
            showInputs: false
          });
      });

      function pintarValidacion(clase, mensaje){
               var usuariorow= $('.usuariorow > div');

               if(clase=='success'){
                 usuariorow.removeClass('form-group has-error');
               }else{
                 usuariorow.removeClass('form-group has-sucess');

               }
               usuariorow.addClass('form-group has-'+clase)
               usuariorow.find('label').html(mensaje);
               usuariorow.find('label').addClass('control-label');
      }
      //valida en vivo  si ya existe un usuario con el login ingresado
      function validarNombreUsuario(nombreusuario){
        var rutaValidar="{{ path('existeUsuario', {nombreusuario:'texto'} ) }}";
        rutaValidar=rutaValidar.replace("texto", nombreusuario);
        $.ajax({
            url:rutaValidar,
            method:"GET",
            success:function(resultado){
                console.log(resultado);
                if(resultado.respuesta=="Falso"){
          
                    pintarValidacion('success','Nombre de usuario')
                    if($('.enviar').length==0){
                        $('.opciones').prepend('<button type="submit"  class="btn btn-default enviar center-block" >Enviar</button>');
                    }
          
                }else{
                    pintarValidacion('error','Ya existe ese usuario, Intenta otro')
                    $('.opciones > .enviar').remove();
                }
            }
          });
      }
    </script>
    


    {% endjavascripts %}
{% endblock %}