

{% extends 'HCHCBundle::layout.html.twig' %}


{% block content_header %}
  <section class="content-header">
    <h1>
      Bitacora del sistema
      <small>Bitacora de todos los movimientos del sistema</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Bitacora del sistema</a></li>
      <li class="active">Aqui</li>
    </ol>
  </section>

{% endblock %}

{% block content %}
<style >
    .small-btn{
        width:40px;
        height:40px;
        padding:0px;
    }
    .opciones{
        text-align: right;
        margin-bottom: 10px;
        margin-right:10px;
    }
</style>
<div class="opciones">
    <a class="btn btn-danger">
        <i class="fa  fa-trash-o"></i>
         Vaciar Bitacora
    </a>
</div>
            <div class="box">
                    <div class="box-header">
                      <h3 class="box-title">Bitácora del sistema</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">
<table id="Bitacora" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
       {#          <th>Idbitacora</th> #}
                <th>Usuario</th>
                <th>Tabla</th>
                <th>Idtupla</th>
                <th>Descripcion</th>
                <th>Fecha</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                {# <td><a href="{{ path('bitacora_show', { 'id': entity.idbitacora }) }}">{{ entity.idbitacora }}</a></td> #}
                <td>{{ entity.idusuario.usuario }}</td>
                <td>{{ entity.tabla }}</td>
                <td>{{ entity.idtupla }}</td>
                <td>{{ entity.descripcion }}</td>
                <td>{% if entity.fecha %}{{ entity.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
             
                  
                  <a href="{{ path('bitacora_show', { 'id': entity.idbitacora }) }}"class="btn btn-app small-btn"><i class="fa fa-eye"></i>Ver</a>
              </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</div>


    {% endblock %}
{% block javascripts -%}
    {{ parent() }}
      {% javascripts
            'bundles/hchc/js/basics.js'
            %}
            <script type="text/javascript" src="{{ asset_url }}"></script>

         {% endjavascripts %}

    <script type="text/javascript">
        $(document).ready(function(){

            $("#Bitacora").dataTable(DataLanguage);
        })
       
    </script>


   
{% endblock %}