{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Pactelf</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Idpactelf</th>
                <td>{{ entity.idpactelf }}</td>
            </tr>
            <tr>
                <th>Numero</th>
                <td>{{ entity.numero }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('pactelf') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('pactelf_edit', { 'id': entity.idpactelf }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
