{% extends 'HCHCBundle::layout.html.twig' %}
{% import  'HCHCBundle::macros.html.twig' as macros %} 
{% block stylesheets %}
{{ parent() }}
        {% stylesheets
        'bundles/hchc/Admin/plugins/daterangepicker/daterangepicker-bs3.css'
        'bundles/hchc/Admin/plugins/timepicker/bootstrap-timepicker.min.css'
        
        output='css/*.css' filter='cssrewrite' %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block content_header %}



  <section class="content-header">
    <h1>
      Detalle del Paciente
      <small>Informacón Básica y de contacto del Paciente</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Pacientes</a></li>
      <li class="active">Detalle del paciente</li>
    </ol>
  </section>

{% endblock %}


{% block content -%}
 <div class="col-md-6 ">
        <div class="box">
            <div class="box-header">
              <h3 class="box-title">Información Básica del Paciente <a class="ModificarPacBtn btn btn-success btn-xs">Editar</a></h3>
          </div><!-- /.box-header -->
          <div class="box-body">
              <table class="table table-bordered">
                <tbody>

                    <tr>
                        <th>Cédula</th>
                        <td>{{ entity.cedula }}</td>
                    </tr>
                    <tr>
                        <th>Nombre</th>
                        <td>{{ entity.nombre }}</td>
                    </tr>
                    <tr>
                        <th>Apellido</th>
                        <td>{{ entity.apellido }}</td>
                    </tr>
                    <tr>
                        <th>Dirección</th>
                        <td>{{ entity.direccion }}</td>
                    </tr>
                    <tr>
                        <th>Fecha de Nacimiento</th>
                        <td>{{ entity.fechanac }}</td>
                    </tr>
                    <tr>
                        <th>Número de seguro social</th>
                        <td>{{ entity.numss }}</td>
                    </tr>
                    <tr>
                        <th>Médico Preferido</th>
                        <td>{{ entity.idmedicopref.nombre }}</td>
                    </tr>


                </tbody>
            </table>
        </div><!-- /.box-body -->
    
</div>
        
        
<div class="box">
      <div class="box-header">
        <h3 class="box-title">Teléfonos Personales <a class="nuevoTP btn btn-success btn-xs"  href="">Nuevo</a></h3>
    </div><!-- /.box-header -->
    <div class="box-body">
          <table class="table table-hover">
              <thead>
                  <tr>

                      <th>
                          Tipo de teléfono

                      </th>
                      <th>
                       Número
                   </th>
                   <th>
                       Acciones
                   </th>
               </tr>
           </thead>
           <tbody>
              {% for telefonoPersonal in entity.telefonosPersonales %}
              <tr class="rowTelfP" id="tp_{{telefonoPersonal.idpactelf}}">

                  <td>{{telefonoPersonal.idTipotel}}</td>
                  <td>{{telefonoPersonal.numero}}</td>
                  <td> 
                      <button class="modificarTP btn btn-default btn-xs">
                          Modificar
                      </button>
                      <button class="eliminarTP btn btn-danger btn-xs">
                          Eliminar
                      </button>
                  </td>
              </tr>
              {% endfor %}
          </tbody>
        </table>
    </div>
</div>

        


   
<div class="box">
        <div class="box-header">
          <h3 class="box-title">Teléfonos en caso de emergencia <a class="nuevoTE btn btn-success btn-xs" href="">Nuevo</a></h3>
      </div><!-- /.box-header -->
      <div class="box-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                       Nombre 
                    </th>
                    <th>
                        Apellido 
                    </th>
                    <th>
                       Número
                    </th>
                    <th>
                        Parentesco
                    </th>
                     <th>
                           Acciones
                    </th>
                </tr>
            </thead>
            <tbody>
            {% for telefonoEmergencia in entity.telefonosEmergencia %}
                <tr class="rowTelfE" id="te_{{telefonoEmergencia.idpacnumcontacto}}">
                    <td>{{telefonoEmergencia.nombrecontacto}}</td>
                    <td>{{telefonoEmergencia.apellidocontacto}}</td>
                    <td>{{telefonoEmergencia.numero}}</td>
                    <td>{{telefonoEmergencia.relacion}}</td>
                     <td> 
                        <button class="modificarTE btn btn-default btn-xs">
                            Modificar
                        </button>
                        <button class="eliminarTE btn btn-danger btn-xs">
                            Eliminar
                        </button>
                     </td>
                    
                </tr>
            {% endfor %}
            </tbody>
        </table>
      </div>
</div>

  
 <center>

      <div class="btn-group">

        <a href="{{ app.request.headers.get('referer') }}" class="btn btn-default">
            Regresar
        </a>
        {{ form(delete_form) }}

    </div>
</center> 

<div class="nuevosTPForm box box-success " style="display:none">

                <div class="box-body">
                {{form_start(FormNuevoTelPersonal)}}
                {{form_row(FormNuevoTelPersonal._token)}}
                    <div class="telfP">
                              <div style="display:block; margin-right:15px; margin-top:30px;">
                                  {{ form_row( FormNuevoTelPersonal.idtipotel,{'attr':{'class':'form-control'}} ) }}
                                  <div class="form-group">
                                      {{form_label(FormNuevoTelPersonal.numero)}}
                                      <div class="input-group">
                                        <div class="input-group-addon">
                                          <i class="fa fa-phone"></i>
                                      </div>
                                      {{ form_widget( FormNuevoTelPersonal.numero,{'attr':{'class':'form-control inputmask','data-inputmask':"'mask':'(9999)-9999999' ",'data-mask':''}} ) }}
                                      </div>
                                  </div>
                             </div>  
                      </div>
                      <center>
                          <div class="btn-group" style="margin-top:5px">
                            <div style="display:none">
                               {{ form_end(FormNuevoTelPersonal) }} 
                            </div>
                             
                              <button type="submit" class="btn btn-success">Agregar</button>
                             
                          </div>
                        </center>
                 <!--    <button type="submit" class="btn btn-block btn-success" href="#">Agregar nuevo teléfono</button> -->
                </div>
</div>
<div class="nuevosTEForm box box-success " style="display:none">
                  
        <div class="box-body">
                {{form_start(FormNuevoTelEmergencia)}}
                {{form_row(FormNuevoTelEmergencia._token)}}
                    <div class="telfE">
                              <div style="display:block; margin-right:15px; margin-top:30px;">
                      {{ form_row( FormNuevoTelEmergencia.nombrecontacto,{'attr':{'class':'form-control'}} ) }}
                     {{ form_row( FormNuevoTelEmergencia.apellidocontacto ,{'attr':{'class':'form-control'}}) }}
                                 
                                  <div class="form-group">
                                      {{form_label(FormNuevoTelEmergencia.numero)}}
                                      <div class="input-group">
                                        <div class="input-group-addon">
                                          <i class="fa fa-phone"></i>
                                      </div>
                                      {{ form_widget( FormNuevoTelEmergencia.numero,{'attr':{'class':'form-control inputmask','data-inputmask':"'mask':'(9999)-9999999' ",'data-mask':''}} ) }}
                                      </div>
                                  </div>
                         {{ form_row( FormNuevoTelEmergencia.relacion ,{'attr':{'class':'form-control'}}) }}
                             </div>  
                      </div>
               
                    <center>
                       <div style="display:none">
                                {{ form_end(FormNuevoTelEmergencia) }} 
                            </div>
                      <div class="btn-group" style="margin-top:5px">
                          <button type="submit" class="btn btn-success">Agregar</button>
                         
                      </div>
                    </center>
                 <!--    <button type="submit" class="btn btn-block btn-success" href="#">Agregar nuevo teléfono</button> -->
                </div>
</div>


</div>
{% macro modal(id) %}

    <div id="{{id}}" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times; </button>
                    <h4 class="modal-title">
                      
                     
                    </h4>
                </div>
                <div class="modal-body">
               
                </div>
                <div class="modal-footer">
                
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="confirm btn btn-primary">Si</button>
                </div>
            </div>
        </div>
    </div>
    

{% endmacro %}
{% endblock %}
{% block javascripts -%}
    {{ parent() }}
            {% javascripts

            'bundles/hchc/Admin/plugins/input-mask/jquery.inputmask.js'
            'bundles/hchc/Admin/plugins/input-mask/jquery.inputmask.date.extensions.js'
            'bundles/hchc/Admin/plugins/input-mask/jquery.inputmask.extensions.js'
            'bundles/hchc/Admin/plugins/input-mask/jquery.inputmask.extensions.js'
            'bundles/hchc/js/basics.js'

            %}
            <script type="text/javascript" src="{{ asset_url }}"></script>

          


         {% endjavascripts %}
    <script>
    var FormEliminarTelPersonal= '{{ form(FormEliminarTelPersonal) }}';
    var FormEliminarTelEmergencia= '{{ form(FormEliminarTelEmergencia) }}';

    
    var EditarTelPersonalRuta="{{ path('pactelf_edit', {id:'texto'} ) }}";
    var EditarTelEmergenciaRuta="{{ path('pacnumcontacto_edit', {id:'texto'} ) }}";


    function getRutaModTelPersonal(id){
        var ruta= EditarTelPersonalRuta;
        ruta=ruta.replace("texto", id);
        return ruta;
    }
    function getRutaModContactoEmergencia(id){
      var ruta= EditarTelEmergenciaRuta;
      ruta=ruta.replace("texto", id);
      return ruta;
    }
    function EliminarTelefonoPersonal(id){

       FormEliminarTelPersonal=FormEliminarTelPersonal.replace("texto", id);
       var deleteForm= FormEliminarTelPersonal;
       $("body").append("<div id='dTelf'>"+deleteForm+"</div>");
       $("#dTelf").find("form").submit();

    }
    function EliminarTelefonoEmergencia(id){

       FormEliminarTelEmergencia=FormEliminarTelEmergencia.replace("texto", id);
       var deleteForm= FormEliminarTelEmergencia;
       $("body").append("<div id='dTelf'>"+deleteForm+"</div>");
       $("#dTelf").find("form").submit();
        
    }
    function CrearModal(datos){

        if( $("#"+datos.IdModal).length<=0 ){
     
          var Modal= "{{ _self.modal('IdModal')|e('js') }} ";
          Modal= Modal.replace("IdModal",datos.IdModal);

          $("body").append(Modal);
        }
        $("#"+datos.IdModal).find(".modal-title").html(datos.ModalHeader)
        $("#"+datos.IdModal).find(".modal-body").html(datos.ModalBody)
        //si se quiere usar los botones de cancelar y confirm.
        if(datos.ModalFooter){
         
            $("#"+datos.IdModal).find(".modal-footer").show();
            $("#"+datos.IdModal).find(".modal-footer").prepend('');
            $("#"+ datos.IdModal+" .confirm").on("click", function(){
              datos.AccionModal();
            })

        }else{
            $("#"+datos.IdModal).find(".modal-footer").hide();
        }
        $("#"+datos.IdModal).modal("show");
    }

    

        $(document).ready(function(){

            $("body").on("focus", ".inputmask", function(){
                $("[data-mask]").inputmask();
            })


         
            $(".nuevoTP").on('click', function(e) {
                e.preventDefault();
                datosModal.ModalHeader="Nuevo Teléfono Personal";
                datosModal.ModalBody=$(".nuevosTPForm").html(),
                 datosModal.ModalFooter=false;
                CrearModal(datosModal);
               
            })

            $(".nuevoTE").on('click', function(e) {
                e.preventDefault();
                datosModal.ModalHeader="Nuevo Contácto de Emergencia";
                datosModal.ModalBody=$(".nuevosTEForm").html();
                datosModal.ModalFooter=false;
                CrearModal(datosModal);
            })
            $(".eliminarTP").on("click", function(e){
                e.preventDefault();

                var idtel= $(this).parents(".rowTelfP").attr("id");
                idtel= idtel.replace("tp_",""); 
                datosModal.ModalHeader="Eliminar Teléfono Personal";
                datosModal.ModalBody="¿ Esta seguro de eliminar el Telefono Personal ?";
                datosModal.ModalFooter=true;
                datosModal.AccionModal= function(){
                    EliminarTelefonoPersonal(idtel);
                }
                CrearModal(datosModal);

            })
            $(".eliminarTE").on("click", function(e){
                e.preventDefault();
                var idtel= $(this).parents(".rowTelfE").attr("id");
                idtel= idtel.replace("te_","");
                datosModal.ModalHeader="Eliminar Contácto de emergencia";
                datosModal.ModalBody="¿ Esta seguro de eliminar el contácto ?";
                datosModal["ModalFooter"]=true;
                datosModal.AccionModal= function(){
                     EliminarTelefonoEmergencia(idtel);
                }
                CrearModal(datosModal);

            })

            $(".modificarTP").on("click", function(e){
                e.preventDefault();
                var idtel= $(this).parents(".rowTelfP").attr("id");
                idtel= idtel.replace("tp_","");
               
                var ruta= getRutaModTelPersonal(idtel)
                datosModal.ModalHeader="Modificar Teléfono Personal";
                datosModal.ModalFooter=false;
                datosAjax.url= ruta;
                datosAjax.accionSuccess= function(data){
                      datosModal.ModalBody=data;
                      CrearModal(datosModal);
                }
                CargarDatosAjax(datosAjax);

            })
            $(".modificarTE").on("click", function(e){

                e.preventDefault();
                var idtel= $(this).parents(".rowTelfE").attr("id");
                idtel= idtel.replace("te_","");
               
                var ruta= getRutaModContactoEmergencia(idtel)
                datosModal.ModalHeader="Modificar Teléfono Emergencia";
                datosModal.ModalFooter=false;
                datosAjax.url= ruta;
                datosAjax.accionSuccess= function(data){
                      datosModal.ModalBody=data;
                      CrearModal(datosModal);
                }
                CargarDatosAjax(datosAjax);

            })
             $(".ModificarPacBtn").on("click", function(e){
                e.preventDefault();
                
                var ruta= "{{ path('paciente_edit', { 'id': entity.idpaciente }) }}";
                datosModal.ModalHeader="Modificar datos del Paciente";
                datosModal.ModalFooter=false;
                datosAjax.url= ruta;
                datosAjax.accionSuccess= function(data){
                      datosModal.ModalBody=data;
                      CrearModal(datosModal);
                }
                CargarDatosAjax(datosAjax);
            })


        });
    </script>
{% endblock %}

